<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="{{ path('home')}}">Accueil</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="{{ path('ecriture_index')}}">Ecritures</a>
						</li>

						<li class="nav-item">
							<a class="nav-link active" href="{{ path('local_index')}}">Locaux</a>
						</li>

						<li class="nav-item">
							<a class="nav-link active" href="{{ path('categorie_index')}}" tabindex="-1" aria-disabled="true">Catégories</a>
						</li>


					</ul>
				</li>
			</ul>
		</div>
	</head>
</html></div></nav></head><body>{% block body %}{% endblock %}</body></html>