<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Bienvenue
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>

	<!-- NavBar -->
	<nav class="navbar navbar-expand-lg  navbar-dark bg-primary">
		<a class="navbar-brand" href=""></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="{{ path('home') }}">Accueil

					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('ecriture_index') }}">Ecritures</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Connexion
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" href="#">Utilisateur</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('admin') }}">Administrateur</a>
						</li>
						<li>
							<a class="dropdown-item" href="logout">Déconnexion</a>
						</li>

					</ul>
				</li>


			</ul>

		</div>
	</nav>
	<!-- NavBar -->
	{% block body %}{% endblock %}

	<!-- Footer -->
	<footer class="text-center text-white fixed-bottom" style="background-color: #0d6efd">
		<div class="text-center p-3" style="background-color: ##0d6efd">©{{ 'now'|date('Y') }}- immobilier for paniagua:
			<a class="text-white" href="https://paniagua.fr/">paniagua.fr</a>
		</div>
	</footer>
</html>