<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="shortcut icon" href="{{ asset('icons/favicon.ico') }}">

		{% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
	
		{% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
	</head>

	<!-- NavBar -->
	<nav class="navbar navbar-expand-lg  navbar-dark bg-primary">
		<a class="navbar-brand" href=""></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">

				<li class="nav-item active">
					<a class="nav-link" href="{{ path('home') }}">Accueil</a>
				</li>


				<li class="nav-item active">
					<a class="nav-link" href="{{ path('locataire_index') }}">Locataires</a>
				</li>


				<li class="nav-item active">
					<a class="nav-link" href="{{ path('contrat_index') }}">Contrats</a>
				</li>

				<li class="nav-item active">
					<a class="nav-link" href="{{ path('loyer_index') }}">Loyers</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="{{ path('charge_index') }}">Charges</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="{{ path('ecriture_index') }}">Banque</a>
				</li>


				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Connexion
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" href="#">Utilisateur</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('admin') }}">Administrateur</a>
						</li>
						<li>
							<a class="dropdown-item" href="logout">Déconnexion</a>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Données</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" href="{{ path('local_index') }}">Locaux</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Immeubles</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('fournisseur_index') }}">Fournisseurs</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('categorie_index') }}">Catégories</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('type_index') }}">Paiement</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('email') }}">Mail</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('preavis') }}">Préavis</a>
						</li>

					</ul>
				</li>

			</li>


		</ul>
	</div>
</html></nav><!-- NavBar -->{% for message in app.flashes('info') %}
<div class="alert alert-info">
	<p class="text-center">{{message}}</p>
</div>{% endfor %}{% block body %}{% endblock %}<!-- Footer --><footer class="text-center text-white fixed-bottom" style="background-color: #0d6efd">
<div class="text-center p-3" style="background-color: ##0d6efd">©{{ 'now'|date('Y') }}- immobilier for paniagua:
	<a class="text-white" href="https://paniagua.fr/">paniagua.fr</a>
</div></footer></html>