{% extends 'base.html.twig' %}

{% block title "Index" %}

{% block body %}

	<div class="container mt-5">
		<div class="row">
			<div class="col">
				<table id="datatable" data-toggle="table" data-search="true" class="table table-striped table-bordered" data-pagination="true">
					<thead>
						<tr>
							<th data-field="locataire" data-sortable="true" data-align="center">Locataire</th>
							<th data-field="local" data-align="center">Local</th>
							<th data-field="action" data-align="center">Action</th>
						</tr>
					</thead>
					<tbody>
						{% for contrat in contrats %}
							<tr>
								<td>{{ contrat.locataire }}</td>
								<td>{{ contrat.local }}</td>
								<td>
									<a href="{{ path('contrat_edit', {'id': contrat.id}) }}"><img src="{{ asset('icons/edits.png') }}" alt="Edition!"/></a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<a href="{{ path('contrat_new') }}"><img src="{{ asset('icons/add.png') }}"/></a>
		</div>
	</div>
{% endblock %}