
{{ form_start(form) }}
<div class="container mt-5">

	<div class="row">
		<div class="col-md-4">{{ form_row(form.fournisseur) }}</div>
		<div class="col-md-4">{{ form_row(form.libelle)}}</div>
	</div>

	<div class="row">
		<div class="col-md-4">{{ form_row(form.montant)}}</div>
		<div class="col-md-2">{{ form_row(form.date_paiement)}}</div>
		<div class="col-md-2">{{ form_row(form.local)}}</div>
	</div>

	<div class="row">
		<div class="col-md-2">{{ form_row(form.acompte)}}</div>
		<div class="col-md-2">{{ form_row(form.date_acompte)}}</div>

	</div>

	<div class="row">
		<div class="col-md-2">{{ form_row(form.recurrente)}}</div>
		<div class="col-md-2">{{ form_row(form.periodicite) }}</div>
	</div>

<br>
	<div class="row justify-content-md-center">
		<div class="col col-lg-2">
			<button type="submit" class="btn btn-primary">Valider</button>
		</div>
		{{ form_end(form) }}