<!doctype html>

{{ encore_entry_link_tags('app') }}


{{ encore_entry_script_tags('app') }}


<html>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Quittance</title>
	<div id="global">
		<div id="gauche">
			<table style="border-collapse: collapse;" border="1" cellspacing="0" cellpadding="2" width="361">

				<tr>
					<td style="text-align: center; border-right: none;"><img style="width: 120px; height: 100px;" src="images/scidevergnes.png" alt=""/></td>
					<td style="border-left: none" colspan="2">
						<div style="padding:5px; font-size: medium;">
							SCI de Vergnes
							<br/>
							6 all&eacute;e du Moulin<br/>
							33270 Bouliac
							<br/><span style="font-size:smaller;"><br/>
								T&eacute;l.: 06 69 38 88 08
								<br/>
								Email: scidevergnes@gmail.com
								<br/>
								SIRET: 843718222 00014
							</span>
						</div>
					</td>
				</tr>
				<tr>
					<td style="font-size:smaller; padding-left:2px;" rowspan="3">
						Coord.	bancaires
					</td>
					<td style="font-size:smaller; padding-left:2px;">
						Compte:
					</td>
					<td style="font-size:smaller; padding-left:2px;">
						FR7630004019330001011175010
					</td>
				</tr>
				<tr>
					<td style="font-size:smaller; padding-left:2px;">
						Banque:
					</td>
					<td style="font-size:smaller; padding-left:2px;">
						BNP Paribas
					</td>
				</tr>
				<tr>
					<td style="font-size:smaller; padding-left:2px;">
						Titulaire:
					</td>
					<td style="font-size:smaller; padding-left:2px;">
						SCI de Vergnes
					</td>
				</tr>
			</table>
		</div>


		<div id="droite">
			<table style="border-collapse: collapse;" border="1" cellspacing="0" cellpadding="2" width="361">
				<tr>
					<td style="TEXT-ALIGN: center; font-size:smaller;">
						Locataire
					</td>
				</tr>
				<tr>
					<td style="TEXT-ALIGN: center; font-size: medium;">
						<div style="padding:5px;">{{nom}}<br/>{{ adresse }}</div>
					</td>
				</tr>
			</table>
		</div>
	</div>


	<div style="padding-left:10px; font-family: verdana,geneva; font-size: medium; "><br/>
		<div style="padding-left: 410px;">Fait à Bouliac, le
			{{ date|date('d/m/Y') }}
			<br/>&nbsp;
		</div>


		Objet : Quittance de loyer du mois de
		{{ mois }}
		<br/><br/><br/>
		{{ nom }},
		<br><br>
		Je soussigné
		<span style="font-weight:bold">{{ baileur }}</span>
		propriétaire du logement désigné ci-dessus, déclare avoir reçu de
		<span style="font-weight:bold">{{ nom }}</span>, la somme de
		<span style="font-weight:bold">{{ montant }}
			&euro;
		</span>, au titre du paiement du loyer et des charges pour la période de location du
		<span style="font-weight:bold">{{ periodeDu }}
			au
			{{ periodeAu }}</span>
		et lui en donne quittance, sous réserve de tous mes droits.

		<br><br><br>

	


		<br/><br/>
		Je vous remerciant.<br/><br/>
		<div style="padding-left: 350px; font-family: verdana,geneva;">{{baileur}}</div>
	</html>
</html></html></div></html>{% block stylesheets %}{% endblock %}{% block javascripts %}{% endblock %}{# fin entete gauche #}{% if paiement >= base + charge %}{% else %}{% endif %}